/* Content.css */

.carsList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.car-item {
  width: 100%;
  max-width: 800px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.car-image {
  width: 200px;
  height: auto;
  margin-right: 20px;
}

.car-details {
  flex: 1;
}

.car-details div {
  text-align: left;
}

.car-details h3 {
  margin: 0;
  font-size: 1.2rem;
}

.car-details p {
  margin: 5px 0;
  font-size: 0.9rem;
}

.search-bar {
  margin-top: 20px;
  margin-bottom: 20px;
}

.search-bar input {
  width: 50%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.filter-form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.filter-form select,
.filter-form input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.clear-filters {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clear-filters button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.clear-filters button:hover {
  background-color: #0056b3;
}

.sort-form {
  margin-bottom: 20px;
}

.sort-form select {
  width: 50%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.carsList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
